<a href="https://colab.research.google.com/github/lmoss/onesharp/blob/main/coding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Adding snapshots to the step_by_step run of a program on some inputs.

In [135]:
#@title
import pandas as pd
import numpy as np

def program_checker(str):
    m = len(str)
    x1 = str[m - 1] == '#'
    x2 = all((str[i] == '1' or str[i] == '#') for i in range(m))
    x3 = (str.find('######') == -1)
    if (x1 and x2 and x3):
        flag = True
    else:
        flag = False
        print('The input ' + str + ' is not a valid 1# program.')
        print('It is not the concatenation of a sequence of instructions in the language.')
        print('So what you are asking for is undefined.')
    return (flag)

def one_or_sharp_check(letter):
    if (letter=="1" or letter=="#"):
        return(True)
    else:
        return(False)

def word_checker(strg):
    answer = all([one_or_sharp_check(x)==True for x in strg])
    return(answer)

def input_checker(input_seq):
    seq = [word_checker(x) for x in input_seq]
    flag = all([word_checker(x) for x in input_seq])
    if not flag:
        print('The input sequence contains words with characters other than 1 and #.')
        print('So what you are asking for is undefined.')
    return(flag)
                                                                                
class Augmented:
    def __init__(self, string, remainders):
        self.string = string
        self.remainders = remainders

class Snapshot:
    def __init__(self, instr_number, regs, proceed,verbose,
                 program_length, step_number,display_formal_snapshot,partial_trace):
        self.instr_number = instr_number
        self.regs = regs
        self.proceed = proceed
        self.verbose = verbose
        self.program_length = program_length
        self.step_number = step_number
        self.display_formal_snapshot = display_formal_snapshot
        self.partial_trace = partial_trace
        
def preparse(xstr):
    b = xstr.string.find('#1')
    xstr.remainders = xstr.remainders + [xstr.string[:(b + 1)]]
    xstr.string = xstr.string[(b + 1):]
    return (xstr)



def parse(y):
    tempx = Augmented(y, [])
    while tempx.string.find('#1') >= 0:
        tempx = preparse(tempx)
    return (tempx.remainders + [tempx.string])

def unparse(p):
    return (''.join(p))

def instruction_type(instruction):
    if instruction[-2:] == '1#':
        return ('add1')
    if instruction[-3:] == '1##':
        return ('add#')
    if instruction[-4:] == '1###':
        return ('forward')
    if instruction[-5:] == '1####':
        return ('backward')
    if instruction[-6:] == '1#####':
        return ('cases')

def tail(list):
    return (list[1:])

def one_step(p, snapshot): # p is parsed
    truth_value = snapshot.display_formal_snapshot
    i = snapshot.instr_number
    r = snapshot.regs
    instruction = p[-1 + i]
    if snapshot.verbose:
        print('Step ' + str(snapshot.step_number) + ':')
        print('Execute instruction ' + str(i) + ':' + " " +
              instruction_gloss(instruction,i-1) 
              + '.')
        if instruction_type(instruction)=='cases':
            billy= len(instruction) - 5
            if snapshot.regs[billy-1] == "":
                print('The register is empty, so we go ahead 1 instruction.')
            elif snapshot.regs[billy-1][0] == "1":
                print('The first symbol in that register is 1,' +
                      ' so we delete that symbol and go forward 2 instructions.')
            elif snapshot.regs[billy-1][0] == "#":
                print('The first symbol in that register is #,' +
                      ' so we delete that symbol and go forward 3 instructions.')     
    t = instruction_type(instruction)
    if t == 'add1':
        snapshot.instr_number = 1 + snapshot.instr_number
        l = len(instruction)
        reg = len(instruction[:(l - 1)])
        snapshot.regs[reg - 1] = snapshot.regs[reg - 1] + '1'
    if t == 'add#':
        snapshot.instr_number = 1 + snapshot.instr_number
        l = len(instruction)
        reg = len(instruction[:(l - 2)])
        snapshot.regs[reg - 1] = snapshot.regs[reg - 1] + '#'
    if t == 'forward':
        l = len(instruction)
        offset = len(instruction[:(l - 3)])
        snapshot.instr_number = offset + snapshot.instr_number
    if t == 'backward':
        l = len(instruction)
        offset = len(instruction[:(l - 4)])
        snapshot.instr_number = (-offset) + snapshot.instr_number
    if t == 'cases':
        l = len(instruction)
        reg = len(instruction[:(l - 5)])
        if snapshot.regs[reg - 1] == '':
            snapshot.instr_number = 1 + snapshot.instr_number
        elif snapshot.regs[reg - 1][0] == '1':
            snapshot.instr_number = 2 + snapshot.instr_number
            snapshot.regs[reg - 1] = tail(snapshot.regs[reg - 1])
        elif snapshot.regs[reg - 1][0] == '#':
            snapshot.instr_number = 3 + snapshot.instr_number
            snapshot.regs[reg - 1] = tail(snapshot.regs[reg - 1])
    if 0< snapshot.instr_number <= len(p):
        snapshot.proceed = True
        if snapshot.verbose == True:
            print_snapshot(snapshot,truth_value)
    else:
         snapshot.proceed = False
    return (snapshot)


def number_help(instr):
    if instruction_type(instr) == 'add1':
        return (len(instr) - 1)
    if instruction_type(instr) == 'add#':
        return (len(instr) - 2)
    if instruction_type(instr) == 'cases':
        return (len(instr)-5)
    else:
        return (0)


def max_register(p):
    return (max([number_help(instr) for instr in parse(p)]))


def pad(p, register_inputs):
    n = len(register_inputs)
    m = max_register(p)
    extras = ['' for x in range(m - n)]
    bigger = register_inputs + extras
    return (bigger)

def addones(word): ### needed to get out the formal snapshots: see print_snapshot below
  if word == '':
    return(word)
  else:
    x = word[0]
    y = '1'+ x
    z = word[1:]
    p = addones(z)
    return(y + p)

def word_representation(snapshot): ### needed to get out the formal snapshots: see print_snapshot below
    i = snapshot.instr_number
    r = snapshot.regs
    registers = len(r)
    a = ones(i)
    b = [addones(snapshot.regs[i]) + '##' for i in range(registers)]
    c = "".join(b)
    return(a+ '##' + c)

def print_snapshot(snap,truth_value):
    regdf = pd.DataFrame([[snap.regs[n]] for n in range(len(snap.regs))],columns=["contents"])
    regdf.index = np.arange(1, len(regdf) + 1)
    def make_pretty(styler):
        styler.set_properties(**{'background-color': '#FFFFCC'})
        styler.set_properties(**{'text-align': 'left'})
        #styler.set_caption("at the start")
        #styler.hide(axis='index')
        return styler
    display(regdf.style.pipe(make_pretty))  
    if truth_value == True:
        print()
        print('The formal snapshot here as we represent it is ' + word_representation(snap))
        print()


def step_by_step_with_snapshots(word_prog, register_inputs):
    step_by_step_prelim(word_prog,register_inputs,True)

def step_by_step(word_prog, register_inputs):
    step_by_step_prelim(word_prog, register_inputs,False)

def step_by_step_prelim(word_prog, register_inputs,display_formal_snapshot):
    truth_value = display_formal_snapshot
    word_prog = word_prog.replace(" ", "")
    register_inputs = [word.replace(" ", "") for word in register_inputs]
    if program_checker(word_prog) and input_checker(register_inputs):
        print('First, here is the program:')
        parse_explain(word_prog)
        print()
        regs = pad(word_prog, register_inputs)
        prog = parse(word_prog)
        N = len(prog)
        snap = Snapshot(1, regs,True,True,N,1,truth_value,[])
        print('The computation starts with the register contents shown below.')
        print('The registers include those those which you entered as part of the input')
        print('and also others mentioned in the input program.')
        print_snapshot(snap,display_formal_snapshot)
        print()
        while 0 < snap.instr_number < N + 1:
            snap = one_step(prog, snap)
            snap.step_number = (snap.step_number) + 1
        if snap.instr_number <= 0:
            print(
                'The computation has not halted properly ' +
                'because the control went above instruction 1 of the program.'
                 )
        elif (snap.instr_number == (N + 1)) and all(
                snap.regs[i] == ""
                for i in range(1, len(snap.regs))):
            print(
                'The computation then halts properly because' +
                ' the control is just below the last line of the program,')
            print('and because all registers other than R1 are empty.')
            print()
            print_snapshot(snap,display_formal_snapshot)
            if snap.regs[0] == "":
                print('The output is the empty word.')
            else:
                print('The output is ' + snap.regs[0] + '.')
        else:
            print('This computation does not halt.')
            if snap.instr_number != N + 1:
                print('This is because the program has ' + str(len(prog)) +
                  ' instructions, and control at the end is not one line ' + 
                   'below the bottom of the program.')
                print()
            else:
                not_blank = [
                    i + 1 for i in range(1, len(snap.regs))
                    if snap.regs[i] != ""
                ]
                print('Here is the list of registers whose contents ' +
                      'are not empty at this point, other than R1:' +
                      str(not_blank) + '.')
                print('The register contents at the end are shown above.')


def onesharp(word_prog, register_inputs):
    word_prog = word_prog.replace(" ", "")
    register_inputs = [word.replace(" ", "") for word in register_inputs]  
    if program_checker(word_prog) and input_checker(register_inputs):
        register_inputs = [word.replace(" ", "") for word in register_inputs]
        regs = pad(word_prog, register_inputs)
        prog = parse(word_prog)
        N = len(prog)
        snap = Snapshot(1, regs,True,False, N, 1)
        while snap.proceed:
            snap = one_step(prog, snap)
            snap.step_number = (snap.step_number)+1
        if (snap.instr_number == (N + 1)) and all(
                snap.regs[i] == "" for i in range(1, len(snap.regs))):
            return ((snap.regs)[0])
        else:            
            print("This is undefined.")
            print("The register contents at the end are shown below.")
            print_snapshot(snap)
    else:
        return('undefined')


def instruction_gloss(instr,line):
    if instruction_type(instr) == 'add1':
        return ('add 1 to R' + str(len(instr) - 1))
    if instruction_type(instr) == 'add#':
        return ('add # to R' + str(len(instr) - 2))
    if instruction_type(instr) == 'forward':
        w = len(instr) - 3
        return ('go forward ' + str(w) + ' to instruction ' + str(w+line+1))
    if instruction_type(instr) == 'backward':
        w = len(instr) - 4
        return ('go backward ' + str(w) + ' to instruction ' + str(line - w+1))
    if instruction_type(instr) == 'cases':
        return ('cases on R' + str(len(instr) - 5))

def expanded(gorp):
    pgorp = parse(gorp)
    wwgorp = [[pgorp[x],instruction_gloss(pgorp[x],x)] for x in range(len(pgorp))]
    return(wwgorp)

def parse_explain(prog):
    df = pd.DataFrame(expanded(prog),
                      columns=["instruction", 'explanation'])
    df.index = np.arange(1, len(df) + 1)
    def make_pretty(styler):
                styler.set_properties(**{'background-color': '#C9DFEC'})        
                styler.set_properties(**{'text-align': 'left'})
                return styler
    display(df.style.pipe(make_pretty))
    #display(df)
    
clear_1 = '1#####111###11####111####'

move_2_1 = '11#####111111###111###1##1111####1#111111####'

copy_1_2_3 = '1#####11111111###1111###11##111##11111####11#111#11111111####111#####111111###111###1##1111####1#111111####'

length = '1#####1111111###11####11#1#####111###111111####111####11#####111111###111###1##1111####1#111111####'

write = '1#####111111111###11111###11#11##11##111111####11#11##111111111####11#####111111###111###1##1111####1#111111####'

diag = '1#####11111111111###111111###11##111#111##111##1111111####11#111#111##1111####111#####111111###111###1##1111####1#11####11#####111111###111###1##1111####1#11####'

self = '1#1##1##1##1##1##1#1#1#1#1#1#1#1#1#1#1#1##1##1##1#1#1#1#1#1#1##1##1##1#1#1##1##1#1#1#1##1#1#1#1##1##1#1#1#1##1##1#1#1#1#1#1#1#1##1##1##1##1#1#1##1#1#1#1##1#1#1#1##1##1#1#1#1#1##1##1##1##1#1#1#1##1##1##1##1##1#1#1#1#1#1#1##1##1##1#1#1#1##1##1##1#1##1##1#1#1#1#1##1##1##1##1#1##1#1#1##1##1##1##1#1#1##1##1##1##1##1#1#1#1#1#1#1##1##1##1#1#1#1##1##1##1#1##1##1#1#1#1#1##1##1##1##1#1##1#1#1##1##1##1##1#####11111111111###111111###11##111#111##111##1111111####11#111#111##1111####111#####111111###111###1##1111####1#11####11#####111111###111###1##1111####1#11####'

multiply = '111##1111##11#####11111111###1111###11111##111111##11111####11111#111111#11111111####111111#####111111###111###11##1111####11#111111####111#####11111111###1111###111111##1111111##11111####111111#1111111#11111111####1111111#####111111###111###111##1111####111#111111####11111#####111111###111111111###111111#####11111111111###1111111111###111111####111111#####111111111111111###111111###11111###111111#####111###1111111111111####1###11111#####111###11####111####111111#####1111###11####111####11111#11111#####111###1111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111###1#1#####11111111###1111###11111##111111##11111####11111#111111#11111111####111111#####111111###111###1##1111####1#111111####1111#####111111###111###111111##1111####111111#111111####11111#####111###111111###111111111###111111#####11111111111111111111111111111111111###11111111111111111111111111###111111111111111111111111111###111111#####11111111111111111111111###1111111111111111111111111111###111111111111111111111###111111#####111111111111111111111###111111111111111111###1111111111111111111###11111#####111###111111###111111111###111111#####11111111111###1111111111111111###111111111###111111#####1111111111111###1111111111###11111111111###111111#####111###11111111###1###1111111#111111111111111111111111111111111####1111111##11111111111111111111111111111111111####1111111#111111111111111111111####1111111##11111111111111111111111####1###1111111#####111111###111###11111##1111####11111#111111####11111#####111111###111###1111##1111####1111#111111####111#####1111111111111###1111111111###11111#111#####111111###111###11111##1111####11111#111111####1111###11111##1111111111111####11111#11111#####111111###111###111##1111####111#111111####1111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111####1#####111###11####111####11#####111###11####111####111#####111###11####111####1111#####111111###111###1##1111####1#111111####'

universal = '1#####1###11###11####111111#1#####111###111111###1111111###11111#####1111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111###1###1####111#111111111####111##1#####1111###11###11111###111#11111#####1111111111111111111111111111111111111111111111###111111111###111##1#####1111###11###11111###111#11111#####1111111111111111111111111111111111111###111111111###111##1#####1111###11###11111###111#11111#####1111111111111111111111111111111111111111111111###111111111###111##1#####1111###11###11111###111#11111#####111111111111111111111111111111111111111111111111111111###111111111###111##1#####1111###11###11111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111###111#11111#####1111111111###1###111#####111111###111###1111##1111####1111#111111####11111111111111111111111111111111111111111111111111111111111111####111#####1###11###1111###11111#1111#111111####11111##1111##111#####1111111###1111###1111##11111##11111####1111#1111111####111111111111111111111111111111111111111111111111111111111111111111111111111###111#####1###11###11111###11111#1111#111111#1111111####1111##111#####111111###111###1111##1111####1111#111111####11111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111####111#####1###11###1111###1111#11111#111111####11111#11111#1111##111#####111111###111###1111##1111####1111#111111####11111#####11111111###11###1###111111#####111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111###1###1###11111111####111111#####1111###111#11111#1111####111#####111###111111#111####1#####111111###111###111##1111####111#111111####1111#####111111###111###1##1111####1#111111####111#####111111###111###1##1111####1#111111####111111111111111111111111111111111111111111111111111111111####11#####111###11111###111111111111###11##11##111111####111#11#####1###111###111##11###111#11111111111111####111##11#####11111111111111111111111111111111111111111111111111111111111111111111###1###111##11111#####1###1111111111111111111111####11111#####1111111111111111111111111111###111111111111111111111111111###11111#####111###11###111111111111111111111111111111111111111111111###11#####111111111111111111###111111111###111#11#####1###1###111#111##111##111111111111111111111111111111111111111111111111111111111###111#11#####1###111###111##11###111#111111111111111111####111#111#1111111111111111111111111111111111111111111111###11#####111111111111111111###111111111###111#11#####1###1###111##111##111##11111111111111111111111111111111111###111#11#####1###111###111##11###111#111111111111111111####111#111##111111111111111111111111###11111#####1###1###11111#####1###1###11#####11111111111111111111111###111###111##1111111111111###11#####1###11111###1###11111#111111#111111###11111#11111#111111#111111#1###11#####111111###111###111##1111####111#111111####111#####111111###111###11##1111####11#111111####1111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111####11#####1###1###11#####1###1###11#####11111111111111###11###11111111###11#####1###111###1#11111111####1##1111111111####11#####111###11####111####111111#####11###11####1111#####111###11####111####'

clear_2 = '11#####111###11####111####'
clear_3 = '111#####111###11####111####'
clear_4 = '1111#####111###11####111####'
move_1_2= '1#####111111###111###11##1111####11#111111####'
move_1_3= '1#####111111###111###111##1111####111#111111####'
move_1_4= '1#####111111###111###1111##1111####1111#111111####'
move_2_1= '11#####111111###111###1##1111####1#111111####'
move_2_3= '11#####111111###111###111##1111####111#111111####'
move_2_4= '11#####111111###111###1111##1111####1111#111111####'
move_3_1= '111#####111111###111###1##1111####1#111111####'
move_3_2= '111#####111111###111###11##1111####11#111111####'
move_3_4= '111#####111111###111###1111##1111####1111#111111####'
move_4_1= '1111#####111111###111###1##1111####1#111111####'
move_4_2= '1111#####111111###111###11##1111####11#111111####'
move_4_3= '1111#####111111###111###111##1111####111#111111####'
copy_1_2_3 = '1#####11111111###1111###11##111##11111####11#111#11111111####111#####111111###111###1##1111####1#111111####'
copy_1_2_4 ='1#####11111111###1111###11##1111##11111####11#1111#11111111####1111#####111111###111###1##1111####1#111111####'
copy_1_3_4='1#####11111111###1111###111##1111##11111####111#1111#11111111####1111#####111111###111###1##1111####1#111111####'
copy_2_3_4 = '11#####11111111###1111###111##1111##11111####111#1111#11111111####1111#####111111###111###11##1111####11#111111####'

In [136]:
step_by_step_with_snapshots('1#1#',['##'])

First, here is the program:

The computation starts with the register contents shown below.
The registers include those those which you entered as part of the input
and also others mentioned in the input program.

The formal snapshot here as we represent it is 1##1#1###


Step 1:
Execute instruction 1: add 1 to R1.

The formal snapshot here as we represent it is 11##1#1#11##

Step 2:
Execute instruction 2: add 1 to R1.
The computation then halts properly because the control is just below the last line of the program,
and because all registers other than R1 are empty.

The formal snapshot here as we represent it is 111##1#1#1111##

The output is ##11.

In [137]:
step_by_step_with_snapshots(diag,['1#'])

First, here is the program:

The computation starts with the register contents shown below.
The registers include those those which you entered as part of the input
and also others mentioned in the input program.

The formal snapshot here as we represent it is 1##111#######


Step 1:
Execute instruction 1: cases on R1.
The first symbol in that register is 1, so we delete that symbol and go forward 2 instructions.

The formal snapshot here as we represent it is 111##1#######

Step 2:
Execute instruction 3: go forward 6 to instruction 9.

The formal snapshot here as we represent it is 111111111##1#######

Step 3:
Execute instruction 9: add 1 to R2.

The formal snapshot here as we represent it is 1111111111##1###11####

Step 4:
Execute instruction 10: add 1 to R3.

The formal snapshot here as we represent it is 11111111111##1###11##11##

Step 5:
Execute instruction 11: add # to R3.

The formal snapshot here as we represent it is 111111111111##1###11##111###

Step 6:
Execute instruction 12: go backward 4 to instruction 8.

The formal snapshot here as we represent it is 11111111##1###11##111###

Step 7:
Execute instruction 8: go backward 7 to instruction 1.

The formal snapshot here as we represent it is 1##1###11##111###

Step 8:
Execute instruction 1: cases on R1.
The first symbol in that register is #, so we delete that symbol and go forward 3 instructions.

The formal snapshot here as we represent it is 1111####11##111###

Step 9:
Execute instruction 4: add # to R2.

The formal snapshot here as we represent it is 11111####111###111###

Step 10:
Execute instruction 5: add 1 to R3.

The formal snapshot here as we represent it is 111111####111###111#11##

Step 11:
Execute instruction 6: add # to R3.

The formal snapshot here as we represent it is 1111111####111###111#111###

Step 12:
Execute instruction 7: add # to R3.

The formal snapshot here as we represent it is 11111111####111###111#111#1###

Step 13:
Execute instruction 8: go backward 7 to instruction 1.

The formal snapshot here as we represent it is 1####111###111#111#1###

Step 14:
Execute instruction 1: cases on R1.
The register is empty, so we go ahead 1 instruction.

The formal snapshot here as we represent it is 11####111###111#111#1###

Step 15:
Execute instruction 2: go forward 11 to instruction 13.

The formal snapshot here as we represent it is 1111111111111####111###111#111#1###

Step 16:
Execute instruction 13: cases on R3.
The first symbol in that register is 1, so we delete that symbol and go forward 2 instructions.

The formal snapshot here as we represent it is 111111111111111####111###1#111#1###

Step 17:
Execute instruction 15: go forward 3 to instruction 18.

The formal snapshot here as we represent it is 111111111111111111####111###1#111#1###

Step 18:
Execute instruction 18: add 1 to R1.

The formal snapshot here as we represent it is 1111111111111111111##11##111###1#111#1###

Step 19:
Execute instruction 19: go backward 2 to instruction 17.

The formal snapshot here as we represent it is 11111111111111111##11##111###1#111#1###

Step 20:
Execute instruction 17: go backward 4 to instruction 13.

The formal snapshot here as we represent it is 1111111111111##11##111###1#111#1###

Step 21:
Execute instruction 13: cases on R3.
The first symbol in that register is #, so we delete that symbol and go forward 3 instructions.

The formal snapshot here as we represent it is 1111111111111111##11##111###111#1###

Step 22:
Execute instruction 16: add # to R1.

The formal snapshot here as we represent it is 11111111111111111##111###111###111#1###

Step 23:
Execute instruction 17: go backward 4 to instruction 13.

The formal snapshot here as we represent it is 1111111111111##111###111###111#1###

Step 24:
Execute instruction 13: cases on R3.
The first symbol in that register is 1, so we delete that symbol and go forward 2 instructions.

The formal snapshot here as we represent it is 111111111111111##111###111###1#1###

Step 25:
Execute instruction 15: go forward 3 to instruction 18.

The formal snapshot here as we represent it is 111111111111111111##111###111###1#1###

Step 26:
Execute instruction 18: add 1 to R1.

The formal snapshot here as we represent it is 1111111111111111111##111#11##111###1#1###

Step 27:
Execute instruction 19: go backward 2 to instruction 17.

The formal snapshot here as we represent it is 11111111111111111##111#11##111###1#1###

Step 28:
Execute instruction 17: go backward 4 to instruction 13.

The formal snapshot here as we represent it is 1111111111111##111#11##111###1#1###

Step 29:
Execute instruction 13: cases on R3.
The first symbol in that register is #, so we delete that symbol and go forward 3 instructions.

The formal snapshot here as we represent it is 1111111111111111##111#11##111###1###

Step 30:
Execute instruction 16: add # to R1.

The formal snapshot here as we represent it is 11111111111111111##111#111###111###1###

Step 31:
Execute instruction 17: go backward 4 to instruction 13.

The formal snapshot here as we represent it is 1111111111111##111#111###111###1###

Step 32:
Execute instruction 13: cases on R3.
The first symbol in that register is #, so we delete that symbol and go forward 3 instructions.

The formal snapshot here as we represent it is 1111111111111111##111#111###111#####

Step 33:
Execute instruction 16: add # to R1.

The formal snapshot here as we represent it is 11111111111111111##111#111#1###111#####

Step 34:
Execute instruction 17: go backward 4 to instruction 13.

The formal snapshot here as we represent it is 1111111111111##111#111#1###111#####

Step 35:
Execute instruction 13: cases on R3.
The register is empty, so we go ahead 1 instruction.

The formal snapshot here as we represent it is 11111111111111##111#111#1###111#####

Step 36:
Execute instruction 14: go forward 6 to instruction 20.

The formal snapshot here as we represent it is 11111111111111111111##111#111#1###111#####

Step 37:
Execute instruction 20: cases on R2.
The first symbol in that register is 1, so we delete that symbol and go forward 2 instructions.

The formal snapshot here as we represent it is 1111111111111111111111##111#111#1###1#####

Step 38:
Execute instruction 22: go forward 3 to instruction 25.

The formal snapshot here as we represent it is 1111111111111111111111111##111#111#1###1#####

Step 39:
Execute instruction 25: add 1 to R1.

The formal snapshot here as we represent it is 11111111111111111111111111##111#111#1#11##1#####

Step 40:
Execute instruction 26: go backward 2 to instruction 24.

The formal snapshot here as we represent it is 111111111111111111111111##111#111#1#11##1#####

Step 41:
Execute instruction 24: go backward 4 to instruction 20.

The formal snapshot here as we represent it is 11111111111111111111##111#111#1#11##1#####

Step 42:
Execute instruction 20: cases on R2.
The first symbol in that register is #, so we delete that symbol and go forward 3 instructions.

The formal snapshot here as we represent it is 11111111111111111111111##111#111#1#11######

Step 43:
Execute instruction 23: add # to R1.

The formal snapshot here as we represent it is 111111111111111111111111##111#111#1#111#######

Step 44:
Execute instruction 24: go backward 4 to instruction 20.

The formal snapshot here as we represent it is 11111111111111111111##111#111#1#111#######

Step 45:
Execute instruction 20: cases on R2.
The register is empty, so we go ahead 1 instruction.

The formal snapshot here as we represent it is 111111111111111111111##111#111#1#111#######

Step 46:
Execute instruction 21: go forward 6 to instruction 27.
The computation then halts properly because the control is just below the last line of the program,
and because all registers other than R1 are empty.

The formal snapshot here as we represent it is 111111111111111111111111111##111#111#1#111#######

The output is 1#1##1#.

## Shortlex ordering on words
### Here are definitions of the length function on numbers. We also have the function ```s(n)``` giving the nth word in the shortlex order on words, starting with n = 0.  We have the inverse of ```s``` also.

In [ ]:
import math

def log2int(x):
  return(math.frexp(x)[1] - 1)

def length(n):
  return(log2int(n+1))

def index(n,m):
  a = (n+1)%(2**(m+1))
  b = 2**m
  if a < b:
    return(0)
  else:
    return(1)

def convert_numeral_to_onesharp(x):
   if x == 0:
     return('#')
   else:
     return('1')    

def s(n):
  k = length(n)  
  s = [convert_numeral_to_onesharp(index(n,k-i-1)) for i in range(k)] 
  t = "".join(s) 
  return(t)

def s_inverse(w):
  n = len(w)
  a = (2**n - 1)
  b = [(2** (n-i-1)) for i in range(n) if (w[i] == '1')]
  c = sum(b)
  d = c+a
  return(d)

We can check that ```s``` and ```s_inverse``` really are inverses.

In [ ]:
s(s_inverse('##111##1'))

'##111##1'

In [ ]:
s_inverse(s(4234))

4234

In [ ]:
for n in range(256):
  print((n,s(n), s_inverse(s(n))))

6
(0, '', 0)
(1, '#', 1)
(2, '1', 2)
(3, '##', 3)
(4, '#1', 4)
(5, '1#', 5)
(6, '11', 6)
(7, '###', 7)
(8, '##1', 8)
(9, '#1#', 9)
(10, '#11', 10)
(11, '1##', 11)
(12, '1#1', 12)
(13, '11#', 13)
(14, '111', 14)
(15, '####', 15)
(16, '###1', 16)
(17, '##1#', 17)
(18, '##11', 18)
(19, '#1##', 19)
(20, '#1#1', 20)
(21, '#11#', 21)
(22, '#111', 22)
(23, '1###', 23)
(24, '1##1', 24)
(25, '1#1#', 25)
(26, '1#11', 26)
(27, '11##', 27)
(28, '11#1', 28)
(29, '111#', 29)
(30, '1111', 30)
(31, '#####', 31)
(32, '####1', 32)
(33, '###1#', 33)
(34, '###11', 34)
(35, '##1##', 35)
(36, '##1#1', 36)
(37, '##11#', 37)
(38, '##111', 38)
(39, '#1###', 39)
(40, '#1##1', 40)
(41, '#1#1#', 41)
(42, '#1#11', 42)
(43, '#11##', 43)
(44, '#11#1', 44)
(45, '#111#', 45)
(46, '#1111', 46)
(47, '1####', 47)
(48, '1###1', 48)
(49, '1##1#', 49)
(50, '1##11', 50)
(51, '1#1##', 51)
(52, '1#1#1', 52)
(53, '1#11#', 53)
(54, '1#111', 54)
(55, '11###', 55)
(56, '11##1', 56)
(57, '11#1#', 57)
(58, '11#11', 58)
(59, '111##', 59)
(60, '111#1', 60)
(61, '1111#', 61)
(62, '11111', 62)
(63, '######', 63)
(64, '#####1', 64)
(65, '####1#', 65)
(66, '####11', 66)
(67, '###1##', 67)
(68, '###1#1', 68)
(69, '###11#', 69)
(70, '###111', 70)
(71, '##1###', 71)
(72, '##1##1', 72)
(73, '##1#1#', 73)
(74, '##1#11', 74)
(75, '##11##', 75)
(76, '##11#1', 76)
(77, '##111#', 77)
(78, '##1111', 78)
(79, '#1####', 79)
(80, '#1###1', 80)
(81, '#1##1#', 81)
(82, '#1##11', 82)
(83, '#1#1##', 83)
(84, '#1#1#1', 84)
(85, '#1#11#', 85)
(86, '#1#111', 86)
(87, '#11###', 87)
(88, '#11##1', 88)
(89, '#11#1#', 89)
(90, '#11#11', 90)
(91, '#111##', 91)
(92, '#111#1', 92)
(93, '#1111#', 93)
(94, '#11111', 94)
(95, '1#####', 95)
(96, '1####1', 96)
(97, '1###1#', 97)
(98, '1###11', 98)
(99, '1##1##', 99)
(100, '1##1#1', 100)
(101, '1##11#', 101)
(102, '1##111', 102)
(103, '1#1###', 103)
(104, '1#1##1', 104)
(105, '1#1#1#', 105)
(106, '1#1#11', 106)
(107, '1#11##', 107)
(108, '1#11#1', 108)
(109, '1#111#', 109)
(110, '1#1111', 110)
(111, '11####', 111)
(112, '11###1', 112)
(113, '11##1#', 113)
(114, '11##11', 114)
(115, '11#1##', 115)
(116, '11#1#1', 116)
(117, '11#11#', 117)
(118, '11#111', 118)
(119, '111###', 119)
(120, '111##1', 120)
(121, '111#1#', 121)
(122, '111#11', 122)
(123, '1111##', 123)
(124, '1111#1', 124)
(125, '11111#', 125)
(126, '111111', 126)
(127, '#######', 127)
(128, '######1', 128)
(129, '#####1#', 129)
(130, '#####11', 130)
(131, '####1##', 131)
(132, '####1#1', 132)
(133, '####11#', 133)
(134, '####111', 134)
(135, '###1###', 135)
(136, '###1##1', 136)
(137, '###1#1#', 137)
(138, '###1#11', 138)
(139, '###11##', 139)
(140, '###11#1', 140)
(141, '###111#', 141)
(142, '###1111', 142)
(143, '##1####', 143)
(144, '##1###1', 144)
(145, '##1##1#', 145)
(146, '##1##11', 146)
(147, '##1#1##', 147)
(148, '##1#1#1', 148)
(149, '##1#11#', 149)
(150, '##1#111', 150)
(151, '##11###', 151)
(152, '##11##1', 152)
(153, '##11#1#', 153)
(154, '##11#11', 154)
(155, '##111##', 155)
(156, '##111#1', 156)
(157, '##1111#', 157)
(158, '##11111', 158)
(159, '#1#####', 159)
(160, '#1####1', 160)
(161, '#1###1#', 161)
(162, '#1###11', 162)
(163, '#1##1##', 163)
(164, '#1##1#1', 164)
(165, '#1##11#', 165)
(166, '#1##111', 166)
(167, '#1#1###', 167)
(168, '#1#1##1', 168)
(169, '#1#1#1#', 169)
(170, '#1#1#11', 170)
(171, '#1#11##', 171)
(172, '#1#11#1', 172)
(173, '#1#111#', 173)
(174, '#1#1111', 174)
(175, '#11####', 175)
(176, '#11###1', 176)
(177, '#11##1#', 177)
(178, '#11##11', 178)
(179, '#11#1##', 179)
(180, '#11#1#1', 180)
(181, '#11#11#', 181)
(182, '#11#111', 182)
(183, '#111###', 183)
(184, '#111##1', 184)
(185, '#111#1#', 185)
(186, '#111#11', 186)
(187, '#1111##', 187)
(188, '#1111#1', 188)
(189, '#11111#', 189)
(190, '#111111', 190)
(191, '1######', 191)
(192, '1#####1', 192)
(193, '1####1#', 193)
(194, '1####11', 194)
(195, '1###1##', 195)
(196, '1###1#1', 196)
(197, '1###11#', 197)
(198, '1###111', 198)
(199, '1##1###', 199)
(200, '1##1##1', 200)
(201, '1##1#1#', 201)
(202, '1##1#11', 202)
(203, '1##11##', 203)
(204, '1##11#1', 204)
(205, '1##111#', 205)
(206, '1##1111', 206)
(207, '1#1####', 207)
(208, '1#1###1', 208)
(209, '1#1##1#', 209)
(210, '1#1##11', 210)
(211, '1#1#1##', 211)
(212, '1#1#1#1', 212)
(213, '1#1#11#', 213)
(214, '1#1#111', 214)
(215, '1#11###', 215)
(216, '1#11##1', 216)
(217, '1#11#1#', 217)
(218, '1#11#11', 218)
(219, '1#111##', 219)
(220, '1#111#1', 220)
(221, '1#1111#', 221)
(222, '1#11111', 222)
(223, '11#####', 223)
(224, '11####1', 224)
(225, '11###1#', 225)
(226, '11###11', 226)
(227, '11##1##', 227)
(228, '11##1#1', 228)
(229, '11##11#', 229)
(230, '11##111', 230)
(231, '11#1###', 231)
(232, '11#1##1', 232)
(233, '11#1#1#', 233)
(234, '11#1#11', 234)
(235, '11#11##', 235)
(236, '11#11#1', 236)
(237, '11#111#', 237)
(238, '11#1111', 238)
(239, '111####', 239)
(240, '111###1', 240)
(241, '111##1#', 241)
(242, '111##11', 242)
(243, '111#1##', 243)
(244, '111#1#1', 244)
(245, '111#11#', 245)
(246, '111#111', 246)
(247, '1111###', 247)
(248, '1111##1', 248)
(249, '1111#1#', 249)
(250, '1111#11', 250)
(251, '11111##', 251)
(252, '11111#1', 252)
(253, '111111#', 253)
(254, '1111111', 254)
(255, '########', 255)

In [ ]:
s(55)

'11###'

In [ ]:
n = 101
k = length(n)
for i in range(k):
  print(i,index(n,i))

0 0
1 1
2 1
3 0
4 0
5 1

In [ ]:
n = 102
k = length(n)
for i in range(k):
  print(i,index(n,i))

0 1
1 1
2 1
3 0
4 0
5 1

6

NameError: ignored